

/* Tablet */
@media (min-width: 0px) and (max-width: 500px) {


    #Side {
        display: none;
    }

    .content {
        padding: 16px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    #Side {
        display: block;
        width: 250px;
    }

    .content {
        display: flex;
        gap: 16px;
    }
}
